# Dependencies
node_modules
package-lock.json

# Tests
coverage
.nyc_output

# Build
/typings
!/config/typings
*.js.map

# Cordova
mobile/www
mobile/platforms/*
mobile/plugins/*/

# Misc
.DS_Store
.env
.idea
.vscode
typings
npm-debug.log*
yarn-debug.log*
yarn-error.log*
